body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../images/Cafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.navbar ul {
    list-style: none;
    padding:0;
    margin: 0;
    overflow: hidden;
}

.navbar li {
    margin: 10px;
    display: inline-block;
}

.navbar li a {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;

}

.navbar li a:hover {
    background: #000;
}

.container {
    margin: 0 27%;
}

#about {
    text-align: center;
}

#about h2 {
    font-size: 24px;
}

#about img {
    border: 1px solid #000;
}

#menu {
    padding: 20px;
    border: 2px solid #777;
}

#menu h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#menu p:nth-child(3) {color: #777;}
#menu p:nth-child(6) {color: #777;}
#menu p:nth-child(9) {color: #777;}

#location h2, p {
    text-align: center;
}

form {
    text-align: center;
}

input {
    width: 50%;
    margin: 10px 0;
    padding: 15px;
    border:1px solid #777;

}

::-webkit-input-placeholder{
    font-size: 16px;
    letter-spacing: 2px;
    color:#000;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

